<h3 class="title"><%=title%></h3>
<p class="created-by">Created By <%=createdBy%></p>

<div class="description">
    <p><%=description%></p>
</div>

<br />
<div class="pull-right">
    <a href="#" id="add-comment">Add Comment</a>
</div>

<div id="comments-container">

</div>
