<h2>All Answers</h2>

<table id="all-answers-table" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Title</th>
        <th>CreatedBy</th>
        <th>Created At</th>
        <th>Number of Comments</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Title</th>
        <th>Created By</th>
        <th>Created At</th>
        <th>Number of Comments</th>
    </tr>
    </tfoot>
</table>

