<h2>Answer Detail</h2>
<h3><%=title%></h3>
<p>Created By <%=createdBy%></p>
<p><%=description%></p>

<div class="pull-right">
    <a href="#" id="add-comment">Add Comment</a>
</div>

<div id="comments-container">

</div>
