<form>
    <div class="form-group">
        <label for="answer-title">Title</label>
        <input type="text" class="form-control" id="answer-title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="answer-description">Description</label>
        <textarea id="answer-description" class="form-control" rows="3"></textarea>
    </div>


    <form id="fileupload" method="post" action="upload.php" enctype="multipart/form-data">
        <div id="dropzone-new">
            Drop Here

            <a>Browse</a>
            <input type="file" name="upl" multiple />
        </div>

        <ul>
            <!-- The file uploads will be shown here -->
        </ul>

    </form>
</form>
