<div class="row">
    <div class="col-lg-12">
        <div id="search-box-region">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div id="newest-answers-region">

        </div>
    </div>
    <div class="col-lg-6">
        <div id="most-searched-answers-region">

        </div>
    </div>
</div>

