<div class="row">
    <div class="col-lg-12">
        <div id="search-box-region">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="content-region">

        </div>
    </div>
</div>

