<form>
    <div class="form-group">
        <label for="answer-title">Title</label>
        <input type="text" class="form-control" id="answer-title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="answer-description">Description</label>
        <textarea id="answer-description" class="form-control" rows="3"></textarea>
    </div>

    <input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>
    <div id="dropzone" class="fade well">Drop files here</div>
</form>
