<div class="box">
    <a href="#" id="create-new-modal">Create NEW</a>
</div>
<div class="box">
    <a href="#" id="close-modal" data-dismiss="modal">Close</a>
</div>
<div class="box">
    <a href="#" id="show-answer-modal">Show Answer</a>
</div>

